@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Vazirmatn";
	src: url("./assets/fonts/vazirmatn/Vazirmatn-Regular.woff2") format("woff2"),
		url("./assets/fonts/vazirmatn/Vazirmatn-Medium.woff2") format("woff2"),
		url("./assets/fonts/vazirmatn/Vazirmatn-Thin.woff2") format("woff2");
}

html {
	font-family: "Vazirmatn";
	font-weight: normal;
}
